body{
    background-image:url(../img/hello.jpg);
    background-size: cover;
    min-height: 100vh;
}
.home{
    
    text-decoration: none;
    color: rgb(247, 242, 242);
    font-size: 40px;
    border-radius: 10px;
    padding: 2px;
    margin: 80px;
    position: relative;
    top: 30px;
    left: 240px;
}
.home:hover{
    color:black;
    background-color: rgb(248, 3, 3);
    box-shadow: 0 0 10px #f7f2f2,
    0 0 20px #f3ecec,
    0 0 40px #f1eded,
    0 0 80px #f1eded;
}
.jtribute{
    color:white;
    position: absolute;
    top: 400px;
    left: 200px;
    font-size: 100px;
    box-shadow: 0 0 10px #f7f2f2,
    0 0 20px #f3ecec,
    0 0 40px #f1eded,
    0 0 80px #f80202;
    
}
.jtribute:hover{
    color: rgb(8, 8, 8);
    background-color: rgb(245, 238, 238);
    box-shadow: 0 0 10px #f7f2f2,
    0 0 20px #f3ecec,
    0 0 40px #f1eded,
    0 0 80px #fc0303,
    0 0 150px white;
    transition: 1s;
}
.jresume{
    color:white;
    position: absolute;
    top: 650px;
    left: 1000px;
    font-size: 100px;
    box-shadow: 0 0 10px #f7f2f2,
    0 0 20px #f3ecec,
    0 0 40px #f1eded,
    0 0 80px #fa0202;
    
}
.jresume:hover{
    color: rgb(8, 8, 8);
    background-color: rgb(245, 238, 238);
    box-shadow: 0 0 10px #f7f2f2,
    0 0 20px #f3ecec,
    0 0 40px #f1eded,
    0 0 80px #fc0303,
    0 0 150px white;
    transition: 1s;
}